.meet-dae {
  width: 100%;
  background-color: var(--var-dae-bg) !important;
  flex-direction: row;
}

.first-girl {
  position: relative;
  z-index: 1;
}

.Dae-annotation-text {
  position: relative;
  background-color: var(--var-dae-annotation-bg);
  color: var(--var-header-menu-text);
  font-family: "Roboto";
  z-index: 3;
}

.Dae-line {
  margin-left: auto;
  margin-right: auto;
  padding-top: 9.4%;
  padding-bottom: 4.7%;
  font-size: 30px;
  line-height: 57.6px; /* 192% */
}
.Dae-text {
  width: 80%;
  margin-right: auto;
  margin-bottom: 8%;
  font-size: 19px;
  line-height: 30.4px; /* 160% */
}

.Learn-more {
  color: var(--var-header-menu-text);
  font-size: 16px;
  line-height: 25.6px; /* 160% */
  background: none;
  border: none;
  transform: transition 0.6s tease-in-out;
}

.Learn-more:hover {
  transform: scale(1.007);
}
.Learn-more::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.6s ease-in-out;
}

.Learn-more:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (max-width: 1250px) {
  .meet-dae {
    height: auto;
  }
  .Dae-annotation-text {
    width: 50%;
  }
  .Dae-line {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  .first-girl {
    display: none !important;
  }
  .meet-dae {
    height: auto;
  }
  .Dae-annotation-text {
    width: 100%;
  }
  .Dae-line {
    padding-top: 5.4%;
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .meet-dae {
    height: auto;
  }
  .Dae-annotation-text {
    width: 100%;
    bottom: 0%;
    left: 0%;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .Learn-more {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
}
@media (max-width: 495px) {
  .meet-dae {
    height: 660px;
  }
}
@media (max-width: 440px) {
  .meet-dae {
    height: 680px;
  }
}
@media (max-width: 390px) {
  .meet-dae {
    height: 680px;
  }
  .Dae-line {
    padding-top: 0px;
    font-size: 20px;
  }
  .Learn-more {
    margin-bottom: 5px;
  }
}
@media (max-width: 358px) {
  .meet-dae {
    height: 840px;
  }
}
@media (max-width: 325px) {
  .meet-dae {
    height: 850px;
  }
}
